{% extends 'base.html' %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}




{% block content %}
<div class="col-md-8">
    <h1 class="mt-4">Editar</h1>
    <p class='lead'>Altere seus dados.</p>

    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form method='POST' action="{% url 'edit' %}">
                {% csrf_token %}
                  <div class="form-group row">
                    <label for="id_cpf" class="col-md-3 col-form-label">CPF:</label>
                    <div class="col-md-9">
                      <input type="text" class="form-control" id="id_cpf" name='cpf' placeholder="CPF" value="{{ form.cpf.value }}">
                        {% if form.cpf.errors %}
                        {% for error in form.cpf.errors %}
                            <div class="invalid-feedback">
                              {{ error }}
                            </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="id_cpf" class="col-md-3 col-form-label">Email:</label>
                    <div class="col-md-9">
                      <input type="text" class="form-control" id="id_email" name='email' placeholder="Email" value="{{ form.email.value }}">
                        {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <div class="invalid-feedback">
                              {{ error }}
                            </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="id_birth_date" class="col-md-3 col-form-label">Data de nascimento:</label>
                    <div class="col-md-9">
                      <input type="text" class="form-control" id="id_birth_date" name='birth_date' placeholder="Data de nascimento" value="{{ form.birth_date.value }}">
                      {% if form.birth_date.errors %}
                        {% for error in form.birth_date.errors %}
                            <div class="invalid-feedback">
                              {{ error }}
                            </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                  </div>
                  <div class="form-group row float-right">
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary btn-larger">Enviar</button>
                    </div>
                  </div>
                  <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
        </div>

    </div>

  </div>

{% endblock content %}
