{% extends 'base.html' %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}




{% block content %}
<div class="col-md-8">
    <h1 class="mt-4">Registrar</h1>
    <p class='lead'>Preencha com seus dados para poder criar a sua conta.</p>

    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form method='POST' action="{% url 'register' %}">
                {% csrf_token %}
                  <div class="form-group row">
                    <label for="id_cpf" class="col-md-3 col-form-label">CPF:</label>
                    <div class="col-md-9">
                      <input type="text" class="form-control" id="id_cpf" name='cpf' placeholder="CPF">
                        {% if form.cpf.errors %}
                        {% for error in form.cpf.errors %}
                            <div class="invalid-feedback">
                              {{ error }}
                            </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="id_birth_date" class="col-md-3 col-form-label">Data de nascimento:</label>
                    <div class="col-md-9">
                      <input type="text" class="form-control" id="id_birth_date" name='birth_date' placeholder="Data de nascimento">
                      {% if form.birth_date.errors %}
                        {% for error in form.birth_date.errors %}
                            <div class="invalid-feedback">
                              {{ error }}
                            </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="id_password1" class="col-md-3 col-form-label">Senha:</label>
                    <div class="col-md-9">
                      <input type="password" class="form-control" id="id_password1" name='password1' placeholder="Senha">
                      {% if form.password1.errors %}
                        {% for error in form.password1.errors %}
                            <div class="invalid-feedback">
                              {{ error }}
                            </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="id_password2" class="col-md-3 col-form-label">Confirmar senha:</label>
                    <div class="col-md-9">
                      <input type="password" class="form-control" id="id_password2" name='password2' placeholder="Confirmar senha">
                      {% if form.password2.errors %}
                        {% for error in form.password2.errors %}
                            <div class="invalid-feedback">
                              {{ error }}
                            </div>
                        {% endfor %}
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group row float-right">
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary btn-larger">Enviar</button>
                    </div>
                  </div>
                  <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
        </div>

    </div>

  </div>

{% endblock content %}
